



    // .opacity{
    //     animation: opacity 1s linear forwards;
    // }

    // .movement{
    //     animation: movement 1s linear infinite;
    // }
    

    @keyframes opacity {
        
        0%{
            opacity: 0;
        }
        
        100%{
            opacity: 1;
        }

    }

    @keyframes movement {
        
        0%{
            transform: translateY(0);
        }
        50%{
             transform: translateY(-15px);
        }
        100%{
            transform: translateY(0);
        }

    }