@font-face {
  font-family: 'aller';
  src: url("../fonts/Aller_Rg.ttf");
}

@font-face {
  font-family: 'aller-bold';
  src: url("../fonts/Aller_Bd.ttf");
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.ttf");
}

@font-face {
  font-family: 'Helvetica-bold ';
  src: url("../fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: 'poppins ';
  src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: 'poppins-medium';
  src: url("../fonts/Poppins-Medium.otf");
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes movement {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movement {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 100vh;
  background: #EC0039;
  overflow: hidden;
}

@media (max-width: 960px) {
  .header {
    height: auto;
  }
}

.header .navbar-customize .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-customize .navbar-nav .nav-item .nav-link {
  font-family: 'aller';
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
}

.header .navbar-customize .navbar-nav .nav-item .nav-link:hover {
  color: #fff !important;
}

.header .navbar-customize .navbar-nav .nav-item .nav-link.getStarted {
  font-size: 20px;
  font-family: 'Helvetica';
  background: #fff;
  border-radius: 10px;
  color: #EC0039;
  padding: 8px 20px;
  margin-left: 15px;
}

@media (max-width: 960px) {
  .header .navbar-customize .navbar-nav .nav-item .nav-link.getStarted {
    margin-left: unset;
  }
}

.header .navbar-customize .navbar-nav .nav-item .nav-link.getStarted:hover {
  color: black !important;
}

.header .hardWork {
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .hardWork h1 {
  font-size: 45px;
  font-family: 'aller';
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 990px) {
  .header .hardWork h1 {
    font-size: 30px;
    text-align: center;
  }
}

.header .hardWork label {
  width: 86%;
  position: relative;
  margin: 25px 0;
}

@media (max-width: 990px) {
  .header .hardWork label {
    width: 100%;
  }
}

.header .hardWork label .search {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  font-family: 'poppins ';
  height: 50px;
  border: 0;
  outline: 0;
  padding: 0 25px;
  color: #666666;
}

.header .hardWork label .search::-webkit-input-placeholder {
  font-size: 16px;
  color: #666666;
}

.header .hardWork label .search:-ms-input-placeholder {
  font-size: 16px;
  color: #666666;
}

.header .hardWork label .search::-ms-input-placeholder {
  font-size: 16px;
  color: #666666;
}

.header .hardWork label .search::placeholder {
  font-size: 16px;
  color: #666666;
}

.header .hardWork label .iconify {
  position: absolute;
  top: 10px;
  font-size: 1.8rem;
  right: 20px;
  color: #666666;
}

.header .hardWork .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 990px) {
  .header .hardWork .services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .hardWork .services .intro {
  font-family: 'poppins ';
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}

@media (max-width: 990px) {
  .header .hardWork .services .intro {
    display: block;
    width: 98%;
    text-align: center;
    margin-bottom: 18px;
  }
}

.header .hardWork .services .items {
  font-family: 'poppins ';
  font-size: 16px;
  color: #fff;
  border: 2px solid #fff;
  padding: 3px 21px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 20px;
  margin-bottom: 8px;
}

.header .hardWork .services .items:hover {
  background: #fff;
  color: #EC0039;
}

.header .top-right {
  margin-top: 48px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .top-right .mike {
  position: absolute;
  top: 26%;
  left: 7%;
  opacity: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: opacity 2s linear forwards, movement 6s linear infinite;
          animation: opacity 2s linear forwards, movement 6s linear infinite;
}

.header .top-right .chat {
  position: absolute;
  top: 36%;
  right: 14%;
  opacity: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: opacity 2s linear forwards, movement 5s linear infinite;
          animation: opacity 2s linear forwards, movement 5s linear infinite;
}

.header .top-right .block {
  position: absolute;
  right: 0;
  bottom: 16%;
  opacity: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: opacity 2s linear forwards, movement 5s linear infinite;
          animation: opacity 2s linear forwards, movement 5s linear infinite;
}

.header .top-right .like {
  position: absolute;
  left: 25px;
  bottom: 13%;
  opacity: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: opacity 2s linear forwards, movement 4s linear infinite;
          animation: opacity 2s linear forwards, movement 4s linear infinite;
}

.header .top-right .corner {
  position: absolute;
  right: 16%;
  top: 13%;
  opacity: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: opacity 2s linear forwards, movement 3.1s linear infinite;
          animation: opacity 2s linear forwards, movement 3.1s linear infinite;
}

.professional-services {
  padding: 80px 0;
  background-color: #fff;
}

@media (max-width: 768px) {
  .professional-services {
    padding: 40px 0;
  }
}

.professional-services .services-slider {
  margin: 50px 0;
}

.professional-services .services-slider .slide-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.professional-services .services-slider .slide-items img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.professional-services .services-slider .slide-items .info {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

@media (max-width: 768px) {
  .professional-services .services-slider .slide-items .info {
    text-align: center;
    width: 100%;
    left: unset;
  }
}

.professional-services .services-slider .slide-items .info h4 {
  font-size: 20px;
  color: #fff;
  font-family: 'aller';
}

.professional-services .services-slider .slide-items .info h5 {
  font-size: 16px;
  color: #fff;
  font-family: 'aller';
}

.create-meeting {
  padding: 100px 0;
  overflow-x: hidden;
}

@media (max-width: 980px) {
  .create-meeting {
    padding: 0;
  }
}

.create-meeting .meeting-slider .slick-list {
  overflow: visible;
}

.create-meeting .meeting-slider .slick-list .slide-items {
  position: relative;
}

.create-meeting .meeting-slider .slick-list .slide-items .slide-inner {
  height: 380px;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slide-inner {
    height: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slide-inner {
    height: 580px;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideOne {
  background: #F8D2D7;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .right-info {
    width: 100%;
    text-align: center;
    padding-top: 70px;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideOne .right-info h2 {
  font-family: 'aller-bold';
  font-size: 40px;
  color: #EC0039;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .right-info h2 {
    font-size: 30px;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideOne .mainObject {
  position: absolute;
  left: 7%;
  bottom: 0;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .mainObject {
    left: 20%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .mainObject {
    width: 70%;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideOne .whatsapp {
  width: 45px;
  position: absolute;
  left: 28%;
  top: -16%;
  -webkit-animation: opacity 2s linear forwards, movement 5s linear infinite;
          animation: opacity 2s linear forwards, movement 5s linear infinite;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .whatsapp {
    left: 57%;
    top: 40%;
  }
}

@media (max-width: 600px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .whatsapp {
    left: 63%;
    top: 40%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .whatsapp {
    top: 49%;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideOne .video {
  width: 45px;
  position: absolute;
  left: 43%;
  top: 15%;
  -webkit-animation: opacity 2s linear forwards, movement 5s linear infinite;
          animation: opacity 2s linear forwards, movement 5s linear infinite;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .video {
    left: 80%;
    top: 56%;
  }
}

@media (max-width: 600px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .video {
    left: 89%;
    top: 53%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .video {
    left: 85%;
    top: 61%;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideOne .sms {
  width: 45px;
  position: absolute;
  left: 6%;
  top: -5%;
  -webkit-animation: opacity 2s linear forwards, movement 4s linear infinite;
          animation: opacity 2s linear forwards, movement 4s linear infinite;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .sms {
    left: 17%;
    top: 35%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideOne .sms {
    left: 14%;
    top: 54%;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideTwo {
  background: #E8EEFF;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .right-info {
    width: 100%;
    text-align: center;
    padding-top: 70px;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideTwo .right-info h2 {
  font-family: 'aller-bold';
  font-size: 40px;
  color: #EC0039;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .right-info h2 {
    font-size: 30px;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideTwo .mainObject {
  position: absolute;
  left: 7%;
  bottom: 0;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .mainObject {
    left: 20%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .mainObject {
    width: 70%;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideTwo .whatsapp {
  width: 45px;
  position: absolute;
  left: 28%;
  top: -16%;
  -webkit-animation: opacity 2s linear forwards, movement 5s linear infinite;
          animation: opacity 2s linear forwards, movement 5s linear infinite;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .whatsapp {
    left: 57%;
    top: 40%;
  }
}

@media (max-width: 600px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .whatsapp {
    left: 63%;
    top: 40%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .whatsapp {
    top: 49%;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideTwo .video {
  width: 45px;
  position: absolute;
  left: 43%;
  top: 15%;
  -webkit-animation: opacity 2s linear forwards, movement 5s linear infinite;
          animation: opacity 2s linear forwards, movement 5s linear infinite;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .video {
    left: 80%;
    top: 56%;
  }
}

@media (max-width: 600px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .video {
    left: 89%;
    top: 53%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .video {
    left: 85%;
    top: 61%;
  }
}

.create-meeting .meeting-slider .slick-list .slide-items .slideTwo .sms {
  width: 45px;
  position: absolute;
  left: 6%;
  top: -5%;
  -webkit-animation: opacity 2s linear forwards, movement 4s linear infinite;
          animation: opacity 2s linear forwards, movement 4s linear infinite;
}

@media (max-width: 980px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .sms {
    left: 17%;
    top: 35%;
  }
}

@media (max-width: 425px) {
  .create-meeting .meeting-slider .slick-list .slide-items .slideTwo .sms {
    left: 14%;
    top: 54%;
  }
}

.create-meeting .meeting-slider .slider-dots {
  margin-top: -35px;
}

.create-meeting .meeting-slider .slider-dots li[role="presentation"].slick-active button {
  background: #EC0039;
  color: #EC0039;
}

.create-meeting .meeting-slider .slider-dots li[role="presentation"] button {
  width: 34px;
  height: 10px;
  border: 0;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  color: #ffffff;
  margin: 0 5px;
}

.btn-theme {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 250px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-theme .icon {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  color: #EC0039;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  background: #F5F5F5;
  -webkit-box-shadow: -3px 5px 9px 6px #0000001c;
          box-shadow: -3px 5px 9px 6px #0000001c;
  border-radius: 10px;
}

.btn-theme .link {
  padding: 10px;
}

.btn-theme .link a {
  text-align: center;
  color: #EC0039;
  font-family: 'aller';
  text-transform: capitalize;
  font-size: 25px;
  text-decoration: none;
}

.btn-theme:hover {
  background: #EC0039;
}

.btn-theme:hover .link a {
  color: #fff;
}

.slider-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 25px;
  padding: 0;
}

.slider-dots li[role="presentation"].slick-active button {
  background: #EC0039;
  color: #EC0039;
}

.slider-dots li[role="presentation"] button {
  width: 34px;
  height: 10px;
  border: 0;
  background: #E6E6E6;
  border-radius: 6px;
  overflow: hidden;
  color: #E6E6E6;
  margin: 0 5px;
}

.userNotification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  left: -100%;
  border-radius: 10px;
  padding: 15px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  bottom: 17px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 320px;
  -webkit-box-shadow: 3px 3px 5px #655f5f9c;
          box-shadow: 3px 3px 5px #655f5f9c;
}

.userNotification.active {
  left: 20px;
}

.userNotification .user {
  -ms-flex-preferred-size: 85px;
      flex-basis: 85px;
}

.userNotification .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.userNotification .desc span:nth-child(1) {
  font-size: 16px;
  font-family: 'poppins-medium';
  color: #333333;
}

.userNotification .desc span:nth-child(2) {
  font-size: 16px;
  font-family: 'poppins ';
  color: #666666;
}

.userNotification .desc span:nth-child(3) {
  font-size: 16px;
  font-family: 'poppins ';
  color: #DA1E37;
}

.userNotification .quite {
  position: absolute;
  top: 6px;
  right: 11px;
  font-size: 1.4rem;
  color: #666;
  cursor: pointer;
}

.userNotification .quite:hover {
  color: #EC0039;
}

.navbar-toggler {
  border-color: #fff !important;
  border-width: 2px;
}

.navbar-toggler .iconify {
  font-size: 2rem;
  color: #fff;
}

.section-title {
  font-size: 35px;
  font-family: 'aller-bold';
  text-transform: uppercase;
  color: #131313;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 25px;
    text-align: center;
  }
}
/*# sourceMappingURL=app.css.map */